.home {
  width: 100%;
}

.dashboard-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.loading-text, .error-text {
  text-align: center;
  font-size: 1.2em;
  margin-top: 2rem;
}

.nome-tela {
  margin-bottom: 2rem;
}